body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
header, footer {
    background: blueviolet;
    color: #fff;
    padding: 1em;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 1em;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 2em;
}
form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}
.slider img {
    display: block;
    margin: auto;
}
